				<nav class="navbar navbar-light bg-light">
					<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" href="{{ path('app_index') }}"><img src="{{ asset('images/logo.png') }}" alt="logo Airlock" width="70"/></a>
					<a class="navbar-brand" href="#">
						<i class="fas fa-search"></i>
					</a>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a href="{{ path('client_address') }}" class="nav-link">Mes Adresses</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('client_parameters') }}" class="nav-link">Paramètres</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a>
							</li>
						</ul>
					</div>

				</nav>