<!doctype html>
<html lang="fr">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}{% endblock %}
		</title>

		<!-- Bootstrap CSS -->
		<link
		rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

		<!-- CSS -->

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

		<link rel="stylesheet" href="{{ asset('css/base.css') }}">

		{% block stylesheets %}
			<!-- Leaflet CSS -->
			<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""/>

			<!-- Geocoder-->
			<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
			<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
			
		{% endblock %}


	</head>

	<body>


		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

			<div class="wrapper">

				<nav class="navbar navbar-light bg-light">
					<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" href="{{ path('app_index') }}"><img src="{{ asset('images/logo.png') }}" alt="logo Airlock" width="70"/></a>
					<a class="navbar-brand" href="#">
						<i class="fas fa-search"></i>
					</a>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a href="{{ path('app_index') }}" class="nav-link">Accueil</a>
							</li>

							<li class="nav-item">
								<a href="#" class="nav-link">Profil</a>
							</li>
							<li class="nav-item">
								<a href="{{ url('reservation', {'id': 1}) }}" class="nav-link">Réservation</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('user_parameters')}}" class="nav-link">Paramètres</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a>
							</li>
						</ul>
					</div>

				</nav>


                    {% block body %}
					<div class="main"></div>
					{% endblock %}

			</div>


			{% else %}
				<div class="wrapper d-flex flex-column  align-items-center">
					<img class="my-5 pt-5" src="{{ asset('images/logo_blanc.png') }}" alt="logo Airlock" width="200"/>
					<a href="{{ url('app_register') }}" class="btn btn-light btn-lg mb-2" role="button" aria-disabled="true">S'incrire</a>
					<a href="{{ url('app_login') }}" class="text-white font-weight-bold mb-2" role="button" aria-disabled="true">Se connecter</a>
				</div>

				<div class="client_line_co">
					<a href="{{ url('client_login') }}" class="mb-2 client_line_color" role="button" aria-disabled="true">connexion</a>
				</div>
				<div class="client_line">
					<a href="{{ url('client_register') }}" class="mb-2 client_line_color" role="button" aria-disabled="true">inscription entreprise</a>
				</div>
			{% endif %}

			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

			{% block javascripts %}
				<!-- Leaflet JS -->
				<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
				integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
				crossorigin=""></script>
				
				<!-- Geocoder-->
				<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
				<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

			{% endblock %}

			<script>
				
			</script>
		</body>

	</html>
