{% extends "base.html.twig" %}

{% block body %}
<div class="col-sm-12">

  <h1 class="text-center text-white font my-4">Mes Réservations</h1>

  {% for reservation in reservations %}

<div class="col-lg-12 d-flex flex-column">

    <div class="card bg-light mb-3" style="max-width: 100%;">
    <div class="card-header"># {{ reservation.addressId }}</div>
    <div class="card-body">
        <h5 class="card-title">Adresse <br>
            postalCode city, country</h5>
            Votre Prix :  € <br>
            À partir de {{ reservation.startDate|date('d-m-Y') }} Jusqu'au {{ reservation.endDate|date('d-m-Y') }} </p>
    </div>
{#     <div class="card-footer"><a href="{{ path('mod_address', {'id': address.id}) }}"><button class="btn btn-warning mr-2">Modifier</button></a>
            <a href="{{ path('suppr_address', {'id': address.id}) }}"><button class="btn btn-danger">Supprimer</button></a></div> #}
    </div>

</div>

{% endfor %}

{% endblock %}

{% block javascripts %}

    <script> 

      function on() { 
        document.getElementById("overlay").style.display = "block"; 
      } 

      function off() { 
        document.getElementById("overlay").style.display = "none"; 
      } 

    </script> 

{% endblock %}