{% extends "base.html.twig" %}

{% block body %}
<div class="col-sm-12">

  <h1 class="text-center text-white font my-4">Mes Réservations</h1>

  {% for reservation in reservations %}

<div class="col-lg-12 d-flex flex-column">

    <div class="card bg-light mb-3" style="max-width: 100%;">
    <div class="card-header"># {{ reservation.addressId }}</div>
    <div class="card-body">

            <p>Pour un nombre de vehicule de {{ reservation.vehicleQuantity }}</p>

            <p>À partir de {{ reservation.startDate|date('d-m-Y') }} Jusqu'au {{ reservation.endDate|date('d-m-Y') }} </p>
    </div>
    <div class="card-footer">
      <a href="{{ path('suppr_booked', {'id': reservation.id}) }}"><button class="btn btn-danger">Annuler</button></a></div>
    </div>

</div>

{% endfor %}

{% endblock %}

{% block javascripts %}

    <script> 

      function on() { 
        document.getElementById("overlay").style.display = "block"; 
      } 

      function off() { 
        document.getElementById("overlay").style.display = "none"; 
      } 

    </script> 

{% endblock %}