{% extends "base.html.twig" %}

{% block body %}

<div class="wrapper register-color" style="height:100%;">
  <h1 class="text-center font">Paramètres utilisateur</h1>



        {{ form_start(form) }}
        <div class="p-2">
          
          
          <div class="form-group">
            <div class="col-sm-12">
              {{ form_row(form.email, { 'label': 'ADRESSE EMAIL', 'attr': {
                        'placeholder': 'Entrer votre adresse email...',
                        'class': 'form-control'
                      }}) }}
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-12">
              {{ form_row(form.password, { 'label': 'MOT DE PASSE', 'attr': {
                      'placeholder': 'Entrer votre mot de passe...',
                      'class': 'form-control'
                    }}) }}
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-12">
                  {{ form_row(form.password_validation, { 'label': 'MOT DE PASSE', 'attr': {
                      'placeholder': 'Confirmer votre mot de passe...',
                      'class': 'form-control'
                    }}) }}
            </div>
          </div>
          

          <div class="col-sm-12">
              <button class="btn btn-primary btn-block btn-custom">Modifier</button>
          </div>    

        </div>

        {{ form_end(form) }}


		</div>

{% endblock %}