{% extends "base.html.twig" %}

{% block body %}
<div class="col-sm-12">

  <h1 class="text-center text-white font my-4">Faire une reservation</h1>


{{ form_start(formReservation )}}

	<div class="form-group">
		<label>Pour combien de véhicule ?</label>
    	{{ form_widget(formReservation.vehicleQuantity) }}
	</div>

	<div class="form-group">
		<label>À partir de </label>
    	{{ form_widget(formReservation.startDate) }}
	</div>

	<div class="form-group">
		<label>Jusqu' à </label>
    	{{ form_widget(formReservation.endDate) }}
	</div>

	<div class="form-group">
    	{{ form_widget(formReservation.save) }}
	</div>
	

{{ form_end(formReservation) }}
{#     <form method="post" action="{{ path('reservation', {'id': 1}) }}">

      <div class="form-group">
        <label>Pour combien de véhicule ?</label>
        <input type="number" name="vehicule_quantity" class="form-control" required>
      </div>

      <div class="form-group">
        <label>À partir de </label>
        <input type="datetime" name="start_date" class="form-control" required>
      </div>

      <div class="form-group">
        <label>Jusqu'à</label>
        <input type="datetime-local" name="end_date" class="form-control" required>
      </div>

        <button type="submit" class="btn btn-primary btn-block btn-reservation">Je réserve</button>
    </div>
    </form> #}

    <!-- Commentaires-->

    <button class="btn btn-warning m-3" onclick="on()">Voir les commentaires</button>

   <div id="overlay">
    <button class="btn btn-secondary m-3" onclick="off()">Revenir à la réservation</button>
    <h2 class="text-center text-white">Commentaires</h2>


    <div class="container">
    			
		{% for list in lists %}
                <div class="row">
                    {# <div class="Nom">Nom : {{ list.nom }}</div> #}
                    <div class="Date">Date : {{ list.createdAt|date("d/m/Y") }}</div>
                    <div class="Commentaire">commentaire : {{ list.content }} €</div>
                </div>
            {% endfor %}
		
    </div> <!-- /container -->



   </div>  

</div>
{% endblock %}

{% block javascripts %}

    <script> 

      function on() { 
        document.getElementById("overlay").style.display = "block"; 
      } 

      function off() { 
        document.getElementById("overlay").style.display = "none"; 
      } 

    </script> 

{% endblock %}